.content{
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.content.show{
    max-height: 150px;
    overflow-y: scroll;
    transition: all 0.4s ease-in;
}

.content-container::-webkit-scrollbar {
  width: 1px; /* Adjust the width to make the scrollbar thinner */
}


